nav {
	margin: 30px;
	margin-bottom: 0;
	height: 70px;
	z-index: 1;
	box-shadow: 5px 4px 5px #000;
	background: white;
	border-radius: 5px;

	ul {
		li {
			a {
				position: relative;
				display: block;
				text-decoration: none;
				color: #6c757d;
				text-transform: uppercase;
				transition: 0.5s;
				cursor: pointer;
				margin-left: 28px;
				font-weight: 300;
			}

			a::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 3px;
				top: 100%;
				left: 0;
				background: #43bef8;
				transition: transform 0.5s;
				transform: scaleX(0);
				transform-origin: right;
			}
			a:hover {
				color: #43bef8;
			}
			a:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
}

::ng-deep {
	ng-sidebar-container {
		min-height: 300px;
		max-height: 100vh;
		display: none !important;
	}
	@media screen and (max-width: 768px) {
		ng-sidebar-container {
			display: block !important;
		}
	}
}

.bg-white {
	background: white;
}

.dropdown {
	.dropdown-menu {
		transition: all 0.5s;
		overflow: hidden;
		transform-origin: top center;
		transform: scale(1, 0);
		display: block;
		padding: 0;
	}
	&:hover {
		.dropdown-menu {
			transform: scale(1);
		}
	}
	.dropdown-item {
		margin: 0 !important;
		border-bottom: 1px solid gainsboro;
		padding: 16px;
	}
}
