.footer {
	width: 100%;
	padding: 20px;
	background: #034a80;
	color: white;
}

.social-icons {
	i {
		margin-left: 22px;
		font-size: 20pt;
		cursor: pointer;
	}

	i:hover {
		color: #04dff7;
		font-size: 22pt;
	}
}

@media screen and (max-width: 480px) {
	.copy-right {
		margin-top: 10px;
	}
}
